.main{
    max-width: 900px;
    padding: 20px;
    margin: 0px auto;
}

.section{
    margin: 10px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
    padding: 20px
    
};

.section__header{
    padding: 20px;
    border-bottom: 1px solid rgb(225, 225, 225);
    margin: 0px;
};