.tasks{
    list-style: none;
    font-size: 125%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid lightgrey;
}

.tasks__content--done{
    text-decoration: line-through;
}

.tasks__item--hiden {
    display: none;
}

.tasks__button{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    color: white;
    text-align: center;
}

.tasks__button--toggleDone {
    background-color: green;
    float: left;
}

.tasks__button--toggleDone:hover {
    background-color: rgb(0, 140, 0);
}

.tasks__button--toggleDone:active {
    background-color: rgb(0, 160, 0);
}

.tasks__button--remove{
    background-color: red;
    float: right;
}

.tasks__button--remove:hover{
    background-color: rgb(255, 40, 40);
}

.tasks__button--remove:active{
    background-color: rgb(255, 70, 70);
}

.buttons{
    color: rgb(0, 130, 130);
    border: none;
    margin: 0px;
    margin-left: 20px;
    border-bottom: 1px solid;
}